<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width,height=device-height" />
    <title>旗袍</title>
    <link rel="stylesheet" href="../css/ionic.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../js/ionic.min.js"></script>
    <script src="../js/ionic.bundle.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-controller="myctrl">

<ion-tabs class="tabs-icon-top">
	<ion-tab title="首页" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline" class="bg1">
	<ion-view >
	<ion-header-bar class='bar-dark item-input-inset'>
	<h4 class="stable">锦嫚JinMan&nbsp;&nbsp;&nbsp;</h4>
	<div class="item-input-wrapper">
	<input type="search" placeholder="请输入你要搜索的旗袍" class='icon ion-ios-search-strong'/>
    </div>
    <a class=" button button-clear buttons-right icon ion-ios-cart-outline" href="shoppingcart.html"></a>
	</ion-header-bar>	
	<ion-content class="has-header">
	<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="true">
		<ion-slide>
			<div class="box"><a href="show1.html"><img src="../img/banner1.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.html"><img src="../img/banner2.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.html"><img src="../img/banner3.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
	</ion-slide-box>
	<div class="row">
		<a class="col" href="">
			<img src="../img/subnavIndex1.png" alt="" />
		</a>
		<a class="col" href="show1.html">
			<img src="../img/subnavIndex2.png" alt="" />
		</a>
		<a class="col" href="show1.html">
			<img src="../img/subnavIndex3.png" alt="" />
		</a>
		<a class="col" href="show1.html">
			<img src="../img/subnavIndex4.png" alt="" />
		</a>
	</div>
	<div class="row">
		<a class="col" href="">
		<img src="../img/tit1.jpg" alt="" />
		</a>
	</div>
	<div class="row">
		<a class="col" href="show1.html">
			<img src="../img/product1.jpg" alt="" />
			<p class="pName">夹棉印花毛领旗袍</p>
			<span class="money">￥328.00</span><span class='icon ion-heart right'> 212</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product2.jpg" alt="" />
			<p class="pName">印花夹棉复古旗袍</p>
			<span class="money">￥408.00</span><span class='icon ion-heart right'> 143</span>
		</a>
		<a class="col" href="templates/show1.html">
			<img src="../img/product3.jpg" alt="" />
			<p class="pName">秋冬新款金菊旗袍</p>
			<span class="money">￥788.00</span><span class='icon ion-heart right'> 332</span>
		</a>
	</div>
	<div class="row">
		<a class="col" href="">
		<img src="../img/tit2.jpg" alt="" />
		</a>
	</div>
	<div class="row">
	    <a class="col" href="show1.html">
			<img src="../img/product4.jpg" alt="" />
			<p class="pName">欧根纱蚕丝连衣裙</p>
			<span class="money">￥258.00</span><span class='icon ion-heart right'> 129</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product5.jpg" alt="" />
			<p class="pName">中式毛呢复古外套</p>
			<span class="money">￥318.00</span><span class='icon ion-heart right'> 358</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product6.jpg" alt="" />
			<p class="pName">混纺针织流苏背心</p>
			<span class="money">￥228.00</span><span class='icon ion-heart right'> 124</span>
		</a>
	</div>
	<div class="row">
		<a class="col" href="">
		<img src="../img/tit3.jpg" alt="" />
		</a>
	</div>
	<div class="row">
		<a class="col" href="show1.html">
			<img src="../img/product7.jpg" alt="" />
			<p class="pName">夹克印花蚕丝旗袍</p>
			<span class="money">￥289.00</span><span class='icon ion-heart right'> 345</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product8.jpg" alt="" />
			<p class="pName">夹克印花刺绣旗袍</p>
			<span class="money">￥278.00</span><span class='icon ion-heart right'> 312</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product9.jpg" alt="" />
			<p class="pName">夹棉丝绒绣花旗袍</p>
			<span class="money">￥258.00</span><span class='icon ion-heart right'> 228</span>
		</a>
	</div>
	<div class="row">
		<a class="col" href="">
		<img src="../img/tit4.jpg" alt="" />
		</a>
	</div>
	<div class="row">
		<a class="col" href="show1.html">
			<img src="../img/product10.jpg" alt="" />
			<p class="pName">蚕丝刺绣中式礼服</p>
			<span class="money">￥328.00</span><span class='icon ion-heart right'> 212</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product11.jpg" alt="" />
			<p class="pName">手工刺绣百褶礼服</p>
			<span class="money">￥408.00</span><span class='icon ion-heart right'> 143</span>
		</a>
		<a class="col" href="show1.html">
			<img src="../img/product12.jpg" alt="" />
			<p class="pName">进口缎面刺绣礼服</p>
			<span class="money">￥788.00</span><span class='icon ion-heart right'> 332</span>
		</a>
	</div>
	<a href="show1.html"><img src="../img/banner5.jpg" alt="" /></a>
	<a href="show1.html"><img src="../img/banner4.png" alt="" /></a>
	</ion-content>
	</ion-view>
	</ion-tab>
	
	
	
	
	
<ion-tab title="分类" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline" class="bg1">
	<ion-view>
		<ion-header-bar class='bar-dark'>
		<h1 class="title stable">旗袍分类</h1>
	    <a class=" button button-clear buttons-right icon ion-ios-cart-outline" href="shoppingcart.html"></a>
		</ion-header-bar>	
		<ion-content class="has-header">
		<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="true">
		<ion-slide>
			<div class="box"><a href="show1.html"><img src="../img/banner1.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.html"><img src="../img/banner2.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.htm"><img src="../img/banner3.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		</ion-slide-box>
		<div class="row">
			<a class="col" href="">
				<img src="../img/sort1.png" alt="" /><br />
				<img src="../img/sort-txt1.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort2.png" alt="" /><br />
				<img src="../img/sort-txt2.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort3.png" alt="" /><br />
				<img src="../img/sort-txt3.png" alt="" />
			</a>
		</div>
		<div class="row">
			<a class="col" href="">
				<img src="../img/sort4.png" alt="" /><br />
				<img src="../img/sort-txt4.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort5.png" alt="" /><br />
				<img src="../img/sort-txt5.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort6.png" alt="" /><br />
				<img src="../img/sort-txt6.png" alt="" />
			</a>
		</div>
			<div class="row">
			<a class="col" href="">
				<img src="../img/sort7.png" alt="" /><br />
				<img src="../img/sort-txt7.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort8.png" alt="" /><br />
				<img src="../img/sort-txt8.png" alt="" />
			</a>
			<a class="col" href="">
				<img src="../img/sort9.png" alt="" /><br />
				<img src="../img/sort-txt9.png" alt="" />
			</a>
		</div>
		<a href="show1.htm"><img src="../img/banner6.jpg" alt="" /></a>
		</ion-content>				
	</ion-view>
</ion-tab>	
	<ion-tab title="品牌" icon-on="ion-tshirt-outline" icon-off="ion-tshirt-outline" class="bg1">
		<ion-view>
		<ion-header-bar class='bar-dark'>
		<h1 class="title stable">旗袍品牌</h1>
	    <a class=" button button-clear buttons-right icon ion-ios-cart-outline" href="shoppingcart.html"></a>
		</ion-header-bar>	
		<ion-content class="has-header">
		<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="true">
		<ion-slide>
			<div class="box"><a href="show1.htm"><img src="../img/banner1.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.htm"><img src="../img/banner2.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		<ion-slide>
			<div class="box"><a href="show1.htm"><img src="../img/banner3.jpg" height="100%" width="100%"  alt=""></a></div>
		</ion-slide>
		</ion-slide-box>
		<div class="list">
			<div class="item item-thumbnail-left  item-icon-right">			
				<img src="../img/logo1.png" alt="" style="margin-top:30px ;"/>	
				    <div class="row">
				    <div class="col">
					<p>观唐古典旗袍旗舰店</p>
					<p class="littlefont">描述：<span>4.8</span>  服务：<span>4.8</span>  物流：<span>4.8</span></p>
					</div>
				    </div>
					
					<div class="row img1">
					<div class="col">
					<a href="show1.htm"><img src="../img/brand1.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand2.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand3.png" alt=""/></a>
					</div>
					</div>						
			</div>
		</div>
		<div class="list">
			<div class="item item-thumbnail-left  item-icon-right">			
				<img src="../img/logo2.png" alt="" style="margin-top:30px ;"/>	
				    <div class="row">
				    <div class="col">
					<p>观唐古典旗袍旗舰店</p>
					<p class="littlefont">描述：<span>4.8</span>  服务：<span>4.8</span>  物流：<span>4.8</span></p>
					</div>
				    </div>
					
					<div class="row img1">
					<div class="col">
					<a href="show1.htm"><img src="../img/brand4.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand5.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand6.png" alt=""/></a>
					</div>
					</div>	
			</div>
		</div>
		<div class="list">
			<div class="item item-thumbnail-left  item-icon-right">			
				<img src="../img/logo3.png" alt="" style="margin-top:30px ;"/>	
				    <div class="row">
				    <div class="col">
					<p>观唐古典旗袍旗舰店</p>
					<p class="littlefont">描述：<span>4.8</span>  服务：<span>4.8</span>  物流：<span>4.8</span></p>
					</div>
				    </div>
					
					<div class="row img1">
					<div class="col">
					<a href="show1.htm"><img src="../img/brand7.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand8.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand9.png" alt=""/></a>
					</div>
					</div>	
			</div>
		</div>
		<div class="list">
			<div class="item item-thumbnail-left item-icon-right">			
				<img src="../img/logo4.png" alt="" style="margin-top:30px ;"/>	
				    <div class="row">
				    <div class="col">
					<p>观唐古典旗袍旗舰店</p>
					<p class="littlefont">描述：<span>4.8</span>  服务：<span>4.8</span>  物流：<span>4.8</span></p>
					</div>
				    </div>
					
					<div class="row img1">
					<div class="col">
					<a href="show1.htm"><img src="../img/brand10.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand11.png" alt=""/></a>
					</div>
					<div class="col">
					<a href="show1.htm"><img src="../img/brand12.png" alt=""/></a>
					</div>
					</div>					
			</div>
		</div>										
		<a href="show1.htm"><img src="../img/banner7.jpg" alt="" style="margin-top:-10px ;"/></a>
		</ion-content>		
		</ion-view>
	</ion-tab>
	
	
	<ion-tab title="团购" icon-on="ion-ios-box-outline" icon-off="ion-ios-box-outline" class="bg1">
		<ion-view>
		<ion-header-bar class='bar-dark'>
		<h1 class="title stable">品牌巨惠</h1>
	    <a class=" button button-clear buttons-right icon ion-ios-cart-outline" href="shoppingcart.html"></a>
		</ion-header-bar>	
		<ion-content class="has-header">			
        <a href="show1.htm"><img src="../img/banner9.jpg" alt="" /></a>
        <a href="show1.htm"><img src="../img/banner10.jpg" alt="" /></a>
        <a href="show1.htm"><img src="../img/banner11.jpg" alt="" /></a>
        <a href="show1.htm"><img src="../img/banner12.jpg" alt="" /></a>
		<a href="show1.htm"><img src="../img/banner13.jpg" alt="" /></a>
		</ion-content>	
		</ion-view>
	</ion-tab>
	
	
	<ion-tab title="我" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" class="bg1">
		<ion-view>		
			<ion-content>
				<div class="myheader nobc" >
				<div class="item item-icon-right">		
				<i  class="icon ion-android-settings" ></i>	
				</div>
				<div class="item myicon">
					<a href="login.html"><img src="../img/evaluate-icon2.png" alt="" height="120"/>	</a><br />				
					<span>你才是兔子 </span>
					<p>会员积分： 1250分 </p>

				</div>
			</div>
				<div class="list" >
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-document" style="color:coral ;"></i>
						<h2>待付款</h2>
						<i class="icon ion-ios-arrow-forward"></i>	</a>					
					</div>
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-ios-paper-outline" style="color:orange;"></i>
						<h2>待收货</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
						
					</div>
					<div class="item item-icon-left item-icon-right" >
						<a href="shoppingcart.html">
						<i class="icon ion-android-star-outline" style="color:coral ;"></i>
						<h2>收藏夹</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
					</div>
					<div class="item item-icon-left item-icon-right" >
						<a href="shoppingcart.html">
						<i class="icon ion-clipboard" style="color:palevioletred ;"></i>
						<h2>全部订单</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
					</div>
				</div>
				
				
				<div class="list">
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-ios-location-outline"></i>
						<h2>收货地址</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
					</div>
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-ios-bookmarks-outline"></i>
						<h2>积分管理</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
						
					</div>
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-ios-email-outline"></i>
						<h2>我的消息</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
						
					</div>
					<div class="item item-icon-left item-icon-right">
						<a href="shoppingcart.html">
						<i class="icon ion-ios-help-outline"></i>
						<h2>旗袍知识</h2>
						<i class="icon ion-ios-arrow-forward"></i>
						</a>
						
					</div>
				</div>
			</ion-content>
			
		</ion-view>
	</ion-tab>
	
</ion-tabs>

</body>
</html>